:root {
    --zals: rgb(0, 0, 0);
    --marginertoper: 60px;
}
html[data-theme="light"]{
    --krasa: rgb(7, 2, 255);
    --krasa1: rgb(61, 58, 255);
    --bildite: none;
}

html[data-theme="dark"]{
    --krasa: orange;
    --krasa1: black;
    --zals: orange;
    --bildite: block;
}

h1 {
    color: var(--zals);
}

p {
    color: var(--zals);
}

h2 {
    color: var(--zals);
}

.img1 {
    display: var(--bildite);
}

header {
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--marginertoper);
    background-color: var(--krasa);
    position: fixed;
    z-index: 2;
}

body {
    margin: 0;
    background-color: var(--krasa1 );
}

main {
    margin-top: var(--marginertoper);
}
